---
import Layout from '@/layouts/Layout.astro'
import SectionContainer from '@/components/SectionContainer.astro'
import ArrowRigth from '@/components/icons/ArrowRigth.astro'
import ProjectsCard from '@/components/ProjectsCard.astro'

const PROJECTS = [
  {
    title: 'Spotify Astro',
    description:
      'Clon del reproductor de música Spotify con Astro, React, Svelte y Tailwind CSS. Animaciones, reproducción de canciones, listas de reproducción y control del nivel de volumen.',
    link: 'https://spotify-astro-mcfrostys.vercel.app/',
    github: 'https://github.com/McFrostyS/spotify-astro',
    image: '/projects/spotify-astro.webp',
    skills: ['Astro', 'React', 'Svelte', 'TypeScript', 'Tailwind CSS']
  },
  {
    title: 'Spotify Astro',
    description:
      'Clon del reproductor de música Spotify con Astro, React, Svelte y Tailwind CSS. Animaciones, reproducción de canciones, listas de reproducción y control del nivel de volumen.',
    link: 'https://spotify-astro-mcfrostys.vercel.app/',
    github: 'https://github.com/McFrostyS/spotify-astro',
    image: '/projects/spotify-astro.webp',
    skills: ['Astro', 'React', 'Svelte', 'TypeScript', 'Tailwind CSS']
  },

  {
    title: 'Spotify Astro',
    description:
      'Clon del reproductor de música Spotify con Astro, React, Svelte y Tailwind CSS. Animaciones, reproducción de canciones, listas de reproducción y control del nivel de volumen.',
    link: 'https://spotify-astro-mcfrostys.vercel.app/',
    github: 'https://github.com/McFrostyS/spotify-astro',
    image: '/projects/spotify-astro.webp',
    skills: ['Astro', 'React', 'Svelte', 'TypeScript', 'Tailwind CSS']
  },
  {
    title: 'Spotify Astro',
    description:
      'Clon del reproductor de música Spotify con Astro, React, Svelte y Tailwind CSS. Animaciones, reproducción de canciones, listas de reproducción y control del nivel de volumen.',
    link: 'https://spotify-astro-mcfrostys.vercel.app/',
    github: 'https://github.com/McFrostyS/spotify-astro',
    image: '/projects/spotify-astro.webp',
    skills: ['Astro', 'React', 'Svelte', 'TypeScript', 'Tailwind CSS']
  },
  {
    title: 'Spotify Astro',
    description:
      'Clon del reproductor de música Spotify con Astro, React, Svelte y Tailwind CSS. Animaciones, reproducción de canciones, listas de reproducción y control del nivel de volumen.',
    link: 'https://spotify-astro-mcfrostys.vercel.app/',
    github: 'https://github.com/McFrostyS/spotify-astro',
    image: '/projects/spotify-astro.webp',
    skills: ['Astro', 'React', 'Svelte', 'TypeScript', 'Tailwind CSS']
  },
  {
    title: 'Spotify Astro',
    description:
      'Clon del reproductor de música Spotify con Astro, React, Svelte y Tailwind CSS. Animaciones, reproducción de canciones, listas de reproducción y control del nivel de volumen.',
    link: 'https://spotify-astro-mcfrostys.vercel.app/',
    github: 'https://github.com/McFrostyS/spotify-astro',
    image: '/projects/spotify-astro.webp',
    skills: ['Astro', 'React', 'Svelte', 'TypeScript', 'Tailwind CSS']
  },
  {
    title: 'Spotify Astro',
    description:
      'Clon del reproductor de música Spotify con Astro, React, Svelte y Tailwind CSS. Animaciones, reproducción de canciones, listas de reproducción y control del nivel de volumen.',
    link: 'https://spotify-astro-mcfrostys.vercel.app/',
    github: 'https://github.com/McFrostyS/spotify-astro',
    image: '/projects/spotify-astro.webp',
    skills: ['Astro', 'React', 'Svelte', 'TypeScript', 'Tailwind CSS']
  },
  {
    title: 'Spotify Astro',
    description:
      'Clon del reproductor de música Spotify con Astro, React, Svelte y Tailwind CSS. Animaciones, reproducción de canciones, listas de reproducción y control del nivel de volumen.',
    link: 'https://spotify-astro-mcfrostys.vercel.app/',
    github: 'https://github.com/McFrostyS/spotify-astro',
    image: '/projects/spotify-astro.webp',
    skills: ['Astro', 'React', 'Svelte', 'TypeScript', 'Tailwind CSS']
  },
  {
    title: 'Spotify Astro',
    description:
      'Clon del reproductor de música Spotify con Astro, React, Svelte y Tailwind CSS. Animaciones, reproducción de canciones, listas de reproducción y control del nivel de volumen.',
    link: 'https://spotify-astro-mcfrostys.vercel.app/',
    github: 'https://github.com/McFrostyS/spotify-astro',
    image: '/projects/spotify-astro.webp',
    skills: ['Astro', 'React', 'Svelte', 'TypeScript', 'Tailwind CSS']
  }
]
---

<Layout title='Projects' description='Proyectos de Sergio'>
  <main class='px-4'>
    <SectionContainer id='projects' class='my-10 md:my-24'>
      <section class='grid grid-cols-1 md:grid-cols-2 gap-8'>
        <header class='row-span-1 md:row-span-1'>
          <div class='group'>
            <a
              href='/'
              class='font-bold transition duration-400 text-white group-hover:text-teal-200'
            >
              <span style='display: inline-block; transform: scaleX(-1);'>
                <ArrowRigth />
              </span>
              Sergio Aguado
            </a>
          </div>
          <h1 class='text-5xl font-bold text-white mb-4'>Proyectos</h1>
          <p class='text-white'>
            Aquí encontrarás todos los proyectos en los que he trabajado a lo largo de mi
            carrera profesional y personal como desarrollador.
          </p>
        </header>
        {
          PROJECTS.map((project, index) => (
            <div class='project-card row-span-1 md:row-span-2 max-h-[520px]'>
              <ProjectsCard
                title={project.title}
                description={project.description}
                link={project.link}
                github={project.github}
                image={project.image}
                skills={project.skills}
              />
            </div>
          ))
        }
      </section>
    </SectionContainer>
  </main>
</Layout>

<style>
  .project-card:nth-child(3) {
    padding-top: 68px;
  }

  @media (max-width: 550px) {
    .project-card:nth-child(3) {
      padding-top: 0;
    }
  }
</style>
