---
import GitHub from './icons/GitHub.astro'
import LinkIcon from './icons/LinkIcon.astro'
import LinkButton from './pills/LinkButton.astro'

const PROJECTS = [
  {
    title: 'Disney+ Clone',
    description:
      'Clon de la interfaz gráfica de la plataforma Disney+ hecho con React y Tailwind CSS. Incluye sistema de búsqueda con TMDb API con la que se obtiene los datos e imagenes de las películas.',
    link: 'https://disney-clone-mcfrostys.vercel.app/',
    github: 'https://github.com/McFrostyS/disney-clone',
    image: '/projects/disney-clone.webp',
    skills: ['React', 'Tailwind CSS']
  },
  {
    title: 'Spotify Astro',
    description:
      'Clon del reproductor de música Spotify con Astro, React, Svelte y Tailwind CSS. Animaciones, reproducción de canciones, listas de reproducción y control del nivel de volumen.',
    link: 'https://spotify-astro-mcfrostys.vercel.app/',
    github: 'https://github.com/McFrostyS/spotify-astro',
    image: '/projects/spotify-astro.webp',
    skills: ['Astro', 'React', 'Svelte', 'TypeScript', 'Tailwind CSS']
  }
]
---

<div class='flex flex-col gap-y-16 mx-5 sm:mx-0'>
  {
    PROJECTS.map(({ image, title, description, skills, link, github }) => (
      <article class='flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0'>
        <div class='w-full md:w-1/2'>
          <div class='relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50'>
            <a href={link} class='group'>
              <img
                alt={title}
                class='object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105'
                src={image}
              />
            </a>
          </div>
        </div>

        <div class='w-full md:w-1/2 md:max-w-lg'>
          <a href={link} class='group'>
            <div class='flex items-center justify-start gap-2'>
              <h3 class='text-2xl font-bold text-gray-100 group-hover:text-teal-200 transition duration-400'>
                {title}
              </h3>
              <LinkIcon class='size-6 hidden group-hover:block transition duration-400 group-hover:text-teal-200' />
            </div>
            <div class='mt-2 text-gray-400 text-pretty'>{description}</div>
          </a>

          <div class='flex flex-wrap gap-2 mt-3'>
            {skills.map((skill) => (
              <span class='bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-200 rounded-full'>
                {skill}
              </span>
            ))}
          </div>

          <footer class='flex items-end justify-start mt-4 gap-x-4'>
            {github && (
              <a
                href={github}
                role='link'
                target='_blank'
                rel='noreferrer'
                class='inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 hover:text-teal-200 transition duration-300 ease-in-out text-gray-100 font-bold'
              >
                {' '}
                <GitHub class='size-6' />
                Code
              </a>
            )}
          </footer>
        </div>
      </article>
    ))
  }
</div>
