---
import GitHub from './icons/GitHub.astro'
import LinkIcon from './icons/LinkIcon.astro'

interface Props {
  image: string
  title: string
  description: string
  skills: string[]
  link?: string
  github?: string
}

const { image, title, description, skills, link, github } = Astro.props
---

<article class='relative flex flex-col space-y-8 group h-[520px] max-h-[520px]'>
  <div class='w-full z-10'>
    <div
      class='relative flex flex-col items-center gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl'
    >
      <a href={link} class='group' role='link' target='_blank' rel='noreferrer noopener'>
        <img
          alt={title}
          class='object-cover object-top w-full transition duration-500 h-full'
          src={image}
        />
      </a>
    </div>
  </div>

  <div class='w-full z-10'>
    <a href={link} class='group' role='link' target='_blank' rel='noreferrer noopener'>
      <div class='flex items-center justify-start gap-2'>
        <h3
          class='text-2xl font-bold transition duration-400 text-white group-hover:text-teal-200'
        >
          {title}
          <LinkIcon />
        </h3>
      </div>
      <div class='mt-2 text-gray-400 text-pretty overflow-hidden text-ellipsis'>
        <p class='line-clamp-5'>{description}</p>
      </div>
    </a>

    <a href={link} class='group' role='link' target='_blank' rel='noreferrer noopener'>
      <div class='flex flex-wrap gap-2 mt-3'>
        {
          skills.map((skill) => (
            <span class='bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-200 rounded-full'>
              {skill}
            </span>
          ))
        }
      </div>
    </a>

    <footer class='flex items-end justify-start mt-4 gap-x-4'>
      {
        github && (
          <a
            href={github}
            role='link'
            target='_blank'
            rel='noreferrer noopener'
            class='inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 hover:text-teal-200 transition duration-300 ease-in-out text-gray-100 font-bold'
          >
            {' '}
            <GitHub class='size-6' />
            Code
          </a>
        )
      }
    </footer>
  </div>
</article>
