---
import { ClientRouter } from 'astro:transitions'
import { MouseShadow } from '@/components/MouseShadow.jsx'
import SpeedInsights from '@vercel/speed-insights/astro'
import Analytics from '@vercel/analytics/astro'

import '@fontsource-variable/vollkorn'
const title = 'Sergio Aguado | Software  Developer'
const description =
  'Soy Sergio Aguado, desarrollador Software  impulsado por diseñar y desarrollar experiencias digitales innovadoras y de alta calidad.'
const url = 'https://mcfrostys.vercel.app/'
const image =
  'https://raw.githubusercontent.com/SaguadoDev/portfolio-astro/main/public/sergio-aguado-portfolio.webp'
const keywords =
  'Software Developer, Software Engineer, Desarrollador de Software, Developer, FullStack, FullStack Developer, Frontend, Frontend Developer, Front-end, Front-end Developer, Backend, Backend Developer, JavaScript, React, LitElement, Lit, CSS, HTML, Tailwind, Astro, Python, Java, TensorFlow, Keras, Flask, Spring Boot, Web Components, BLoC, Jest, Cypress, Git, Docker, SQL, PL/SQL, AWS, Bootstrap, Oracle, MySQL, TypeScript'
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.webp' />
    <meta name='generator' content={Astro.generator} />
    <!-- Twitter -->
    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:site' content='@saguadoDev' />
    <meta name='twitter:creator' content='@saguadoDev' />
    <meta name='twitter:title' content={title} />
    <meta name='twitter:description' content={description} />
    <meta name='twitter:image' content={image} />
    <meta property='twitter:url' content={url} />
    <!-- Facebook -->
    <meta property='og:title' content={title} />
    <meta property='og:url' content={url} />
    <meta property='og:description' content={description} />
    <meta property='og:image' content={image} />
    <meta property='og:type' content='website' />
    <meta property='og:site_name' content={title} />
    <meta property='og:locale' content='es_ES' />
    <meta property='og:locale:alternate' content='en_US' />
    <!-- Google -->
    <meta itemprop='name' content={title} />
    <meta itemprop='description' content={description} />
    <meta itemprop='image' content={image} />
    <meta name='author' content='Sergio Aguado' />
    <meta name='keywords' content={keywords} />
    <meta name='robots' content='index, follow' />
    <meta name='theme-color' content='#5eead4' />
    <meta name='apple-mobile-web-app-capable' content='yes' />
    <meta name='apple-mobile-web-app-title' content={title} />
    <title>{title}</title>
    <ClientRouter />
  </head>

  <body
    class='bg-gray-800 leading-relaxed text-slate-400 antialiased selection:bg-teal-400 selection:text-white mx-auto min-h-screen max-w-screen-xl py-12 md:py-20 lg:py-0'
  >
    <MouseShadow client:load />
    <SpeedInsights />
    <Analytics />
    <slot />
    <style is:global>
      html {
        font-family: system-ui, sans-serif;
        scroll-behavior: smooth;
      }

      ::-webkit-scrollbar {
        width: 10px;
      }

      ::-webkit-scrollbar-track {
        background: transparent;
      }

      ::-webkit-scrollbar-thumb {
        background: #64748b;
        border-radius: 5px;
      }

      ::-webkit-scrollbar-thumb:hover {
        background: #94a3b8;
      }

      body {
        color: rgba(17, 17, 17, 0.9);
        display: flex;
        flex-direction: column;
        min-height: 100dvh;
        overscroll-behavior: none;
      }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }
    </style>
  </body>
</html>
